<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

      <!-- Content Header (Page header) -->
      <section class="content-header">
      <h1>
        All User Details
      </h1>

      <%= link_to "Add New User", new_user_path %>
    </section>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <!-- Main data table -->
            <div class="box">

              <!-- /.box-header -->
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>E-mail</th>
                      <th>
                        <i class="ion ion-edit"></i>
                      </th>
                      <th>
                        <i class="ion ion-trash-b"></i>
                      </th>
                      <th>Impersonate</th>
                    </tr>
                  </thead>
                  <tbody>
                  <% @users.each do |user| %>
                    <tr>
                      <td><%= user.first_name %></td>
                      <td><%= user.last_name %></td>
                      <td><%= user.email %></td>
                      <td><%= link_to "", edit_user_path(user), { class: "ion ion-edit"} %></td>
                      <td>
                        <%= link_to user, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="ion ion-trash-b"></i>
                        <% end %>
                      </td>
                      <td>
                        <%= link_to 'Impersonate', impersonate_user_path(user), method: :post, data: { confirm: "Are you sure you want to impersonate #{user.email}?" } %>
                      </td>
                    </tr>
                  <% end %>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <script>
    $(function () {
      $("#example1").DataTable({
        "pageLength": 100, 
      });
    });
  </script>
</body>
