<div id="<%= dom_id campaign %>">
  <p>
    <strong>User:</strong>
    <%= campaign.user_id %>
  </p>

  <p>
    <strong>Group client:</strong>
    <%= campaign.group_client_id %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= campaign.body %>
  </p>

  <p>
    <strong>Send at:</strong>
    <%= campaign.send_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= campaign.status %>
  </p>

</div>
