<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">
    <%= render 'layouts/header' %>
    <div class="content-wrapper">

      <section class="content-header">
        <h1>All Group Details</h1>
        <%= link_to "Create New Campaign", new_campaign_path %>
      </section>

      <section class="content">
        <div class="row">
          <div class="col-xs-12">
            <div class="box">
              <div class="box-body">
                <% if current_user.admin? %>
                  <%= form_tag campaigns_path, method: :get, class: "form-inline" do %>
                    <div class="form-group">
                      <label for="user_select">User</label>
                      <%= collection_select :campaign, :user_id, @users, :id, ->(user) { "#{user.email}" }, { prompt: "Please select a user", selected: @selected_user_id }, { class: 'form-control', id: 'user_select' } %>
                    </div>
                    <div class="form-group">
                      <%= submit_tag 'Get Campaign', class: 'btn btn-primary' %>
                    </div>
                  <% end %>
                <% end %>

                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Subject</th>
                      <th>Group Subject</th>
                      <th>Status</th>
                      <th>Body</th>
                      <th>Send At</th>
                      <th>
                        <i class="ion ion-edit"></i>
                      </th>
                      <th>
                        <i class="ion ion-trash-b"></i>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @campaigns.each do |campaign| %>
                      <tr>
                        <td><%= link_to campaign.subject, group_group_clients_path(campaign), class: "group-link" %></td>
                        <td><%= campaign.group.name %></td>
                        <td><%= campaign.status.titleize %></td>
                        <td><%= campaign.body.html_safe if campaign.body %></td>
                        <td><%= campaign.send_at.in_time_zone('Asia/Kolkata').strftime('%Y-%m-%d %H:%M') %></td>
                        <td><%= link_to "", edit_campaign_path(campaign), class: "ion ion-edit" %></td>
                        <td>
                          <%= link_to campaign, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="ion ion-trash-b"></i>
                          <% end %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%= render 'layouts/footer' %>
  </div>
  <script>
    $(function () {
      $("#example1").DataTable({
        "pageLength": 100,
      });
    });
  </script>
</body>
